In [1]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'/Users/griffinmccauley/Desktop/SARC 5400/Ugly Sketch & Prototype/Data'

In [295]:
df = pd.read_csv(f'{os.getcwd()}/gdp.csv').dropna().iloc[:,2:]
df = df[df[df.columns[2]] != '..']
df = df.astype({df.columns[2]: float})
df = df.sort_values(by=[df.columns[2]], ascending=False)
gdp = df.iloc[:10,:].rename(columns = {df.columns[2]: 'GDP'})
gdp

       Country Name Country Code           GDP
206   United States          USA  2.331508e+13
41            China          CHN  1.773406e+13
98            Japan          JPN  4.940878e+12
73          Germany          DEU  4.259935e+12
89            India          IND  3.176295e+12
205  United Kingdom          GBR  3.131378e+12
68           France          FRA  2.957880e+12
96            Italy          ITA  2.107703e+12
35           Canada          CAN  1.988336e+12
104     Korea, Rep.          KOR  1.810956e+12

In [296]:
df = pd.read_csv(f'{os.getcwd()}/imports.csv').dropna().iloc[:,2:]
df = df[df[df.columns[2]] != '..']
df = df.astype({df.columns[2]: float})
df = df.sort_values(by=[df.columns[2]], ascending=False)
imports = df.drop(columns=[df.columns[1]]).rename(columns = {df.columns[2]: 'Imports'})
imports

              Country Name       Imports
206          United States  3.401361e+12
41                   China  3.091259e+12
73                 Germany  1.776914e+12
98                   Japan  9.364105e+11
68                  France  9.285055e+11
..                     ...           ...
195                  Tonga  2.855029e+08
128  Micronesia, Fed. Sts.  2.815000e+08
102               Kiribati  1.983173e+08
124       Marshall Islands  1.807270e+08
137                  Nauru  1.418016e+08

[166 rows x 2 columns]

In [297]:
df = pd.read_csv(f'{os.getcwd()}/exports.csv').dropna().iloc[:,2:]
df = df[df[df.columns[2]] != '..']
df = df.astype({df.columns[2]: float})
df = df.sort_values(by=[df.columns[2]], ascending=False)
exports = df.drop(columns=[df.columns[1]]).rename(columns = {df.columns[2]: 'Exports'})
exports

              Country Name       Exports
41                   China  3.553509e+12
206          United States  2.539648e+12
73                 Germany  2.003471e+12
98                   Japan  9.104890e+11
205         United Kingdom  8.751969e+11
..                     ...           ...
128  Micronesia, Fed. Sts.  9.630000e+07
209                Vanuatu  9.428748e+07
195                  Tonga  5.876026e+07
137                  Nauru  5.448168e+07
102               Kiribati  2.629207e+07

[166 rows x 2 columns]

In [298]:
df = pd.read_csv(f'{os.getcwd()}/emissions.csv').dropna().iloc[:,2:-2]
df.dtypes
df = df[df[df.columns[2]] != '..']
df = df[df[df.columns[3]] != '..']
df = df[df[df.columns[4]] != '..']
df = df[df[df.columns[5]] != '..']
df = df[df[df.columns[6]] != '..']
df = df[df[df.columns[7]] != '..']
df = df[df[df.columns[8]] != '..']
df = df[df[df.columns[9]] != '..']
df = df[df[df.columns[10]] != '..']
df = df[df[df.columns[11]] != '..']
df = df[df[df.columns[12]] != '..']
df = df[df[df.columns[13]] != '..']
df = df[df[df.columns[14]] != '..']
df = df[df[df.columns[15]] != '..']
df = df[df[df.columns[16]] != '..']
df = df[df[df.columns[17]] != '..']
df = df.astype({df.columns[2]: float, df.columns[3]: float, df.columns[4]: float, df.columns[5]: float, 
                df.columns[6]: float, df.columns[7]: float, df.columns[8]: float, df.columns[9]: float, 
                df.columns[10]: float, df.columns[11]: float, df.columns[12]: float, df.columns[13]: float, 
                df.columns[14]: float, df.columns[15]: float, df.columns[16]: float, df.columns[17]: float})
emissions = df.drop(columns=[df.columns[1]])
emissions

,Country Name,1990 [YR1990],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,United States,4844520.0,5.753490e+06,5.653080e+06,5.736320e+06,5.558380e+06,5.156430e+06,5.392110e+06,5.173600e+06,4.956060e+06,5.092100e+06,5.107210e+06,4.990710e+06,4.894500e+06,4.819370e+06,4.975310e+06,4.817720e+06
1,Afghanistan,2380.0,1.550000e+03,1.760000e+03,1.770000e+03,3.560000e+03,4.880000e+03,7.110000e+03,8.930000e+03,8.080000e+03,5.990000e+03,4.880000e+03,5.950000e+03,5.300000e+03,4.780000e+03,6.070000e+03,6.080000e+03
2,Albania,5980.0,4.030000e+03,4.010000e+03,4.140000e+03,4.080000e+03,4.220000e+03,4.450000e+03,4.850000e+03,4.360000e+03,4.440000e+03,4.820000e+03,4.620000e+03,4.480000e+03,5.140000e+03,5.110000e+03,4.830000e+03
3,Algeria,62940.0,9.419000e+04,9.981000e+04,1.027500e+05,1.077500e+05,1.121700e+05,1.141800e+05,1.207900e+05,1.349300e+05,1.390200e+05,1.477400e+05,1.562700e+05,1.549100e+05,1.583400e+05,1.655400e+05,1.712500e+05
5,Andorra,410.0,5.800000e+02,5.500000e+02,5.400000e+02,5.400000e+02,5.200000e+02,5.200000e+02,4.900000e+02,4.900000e+02,4.800000e+02,4.600000e+02,4.700000e+02,4.700000e+02,4.700000e+02,4.900000e+02,5.000000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Venezuela, RB",101630.0,1.473800e+05,1.475300e+05,1.423900e+05,1.511100e+05,1.525900e+05,1.641000e+05,1.600400e+05,1.811300e+05,1.804300e+05,1.792400e+05,1.631300e+05,1.510700e+05,1.408200e+05,1.321300e+05,1.123400e+05
211,Vietnam,19330.0,9.237000e+04,9.487000e+04,1.051400e+05,1.175900e+05,1.322900e+05,1.514100e+05,1.559700e+05,1.555200e+05,1.643000e+05,1.808700e+05,2.206500e+05,2.237200e+05,2.304500e+05,2.856000e+05,3.364900e+05
214,"Yemen, Rep.",6640.0,2.111000e+04,2.192000e+04,2.327000e+04,2.422000e+04,2.657000e+04,2.543000e+04,2.295000e+04,2.101000e+04,2.783000e+04,2.743000e+04,1.355000e+04,1.085000e+04,1.001000e+04,9.720000e+03,1.110000e+04
215,Zambia,2740.0,2.290000e+03,2.180000e+03,1.980000e+03,2.190000e+03,2.490000e+03,2.660000e+03,3.050000e+03,4.030000e+03,4.240000e+03,4.690000e+03,4.960000e+03,5.320000e+03,6.810000e+03,7.730000e+03,6.800000e+03
216,Zimbabwe,16540.0,1.051000e+04,9.830000e+03,9.760000e+03,7.600000e+03,7.750000e+03,9.600000e+03,1.141000e+04,1.201000e+04,1.228000e+04,1.208000e+04,1.243000e+04,1.102000e+04,1.034000e+04,1.238000e+04,1.176000e+04

In [299]:
#pd.read_excel(f'{os.getcwd()}/trade.xlsx','Partner').dropna().iloc[:,:11]

In [300]:
data = gdp.merge(imports, how='inner', on='Country Name').merge(exports, how='inner', on='Country Name').merge(emissions, how='inner', on='Country Name')
data

,Country Name,Country Code,GDP,Imports,Exports,1990 [YR1990],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,United States,USA,2.331508e+13,3.401361e+12,2.539648e+12,4844520.0,5.753490e+06,5.653080e+06,5.736320e+06,5.558380e+06,...,5.392110e+06,5.173600e+06,4.956060e+06,5.092100e+06,5.107210e+06,4.990710e+06,4.894500e+06,4.819370e+06,4.975310e+06,4.817720e+06
1,China,CHN,1.773406e+13,3.091259e+12,3.553509e+12,2173360.0,5.824630e+06,6.437470e+06,6.993180e+06,7.199600e+06,...,8.474920e+06,9.282550e+06,9.541870e+06,9.984570e+06,1.000667e+07,9.861100e+06,9.874660e+06,1.009601e+07,1.050293e+07,1.070722e+07
2,Japan,JPN,4.940878e+12,9.364105e+11,9.104890e+11,1090530.0,1.212820e+06,1.189520e+06,1.225070e+06,1.158220e+06,...,1.156480e+06,1.213520e+06,1.253610e+06,1.262780e+06,1.217120e+06,1.179440e+06,1.167790e+06,1.155230e+06,1.116150e+06,1.081570e+06
3,Germany,DEU,4.259935e+12,1.776914e+12,2.003471e+12,955310.0,8.023800e+05,8.144100e+05,7.838000e+05,7.896900e+05,...,7.730700e+05,7.464800e+05,7.601300e+05,7.761500e+05,7.360100e+05,7.423100e+05,7.471500e+05,7.322000e+05,7.077000e+05,6.574000e+05
4,India,IND,3.176295e+12,7.588719e+11,6.796806e+11,563580.0,1.136470e+06,1.215210e+06,1.336740e+06,1.424380e+06,...,1.659980e+06,1.756740e+06,1.909440e+06,1.972430e+06,2.147110e+06,2.158020e+06,2.195250e+06,2.320410e+06,2.451930e+06,2.456300e+06
5,United Kingdom,GBR,3.131378e+12,8.993653e+11,8.751969e+11,561770.0,5.409200e+05,5.420600e+05,5.305000e+05,5.153400e+05,...,4.824400e+05,4.455900e+05,4.677800e+05,4.537600e+05,4.156000e+05,4.010800e+05,3.808100e+05,3.670000e+05,3.607300e+05,3.489200e+05
6,France,FRA,2.957880e+12,9.285055e+11,8.710587e+11,356240.0,3.806600e+05,3.715500e+05,3.628300e+05,3.579900e+05,...,3.477800e+05,3.351400e+05,3.384200e+05,3.385600e+05,3.061000e+05,3.113000e+05,3.139200e+05,3.178300e+05,3.070500e+05,3.005200e+05
7,Italy,ITA,2.107703e+12,6.389147e+11,6.885824e+11,405260.0,4.738300e+05,4.666500e+05,4.593700e+05,4.449800e+05,...,4.052700e+05,3.966900e+05,3.767500e+05,3.464600e+05,3.275000e+05,3.378600e+05,3.333400e+05,3.291900e+05,3.248800e+05,3.172400e+05
8,Canada,CAN,1.988336e+12,6.091858e+11,6.111214e+11,419490.0,5.490300e+05,5.405300e+05,5.716300e+05,5.504700e+05,...,5.370100e+05,5.492900e+05,5.462100e+05,5.556600e+05,5.616800e+05,5.587000e+05,5.568300e+05,5.680800e+05,5.800900e+05,5.802100e+05
9,"Korea, Rep.",KOR,1.810956e+12,6.964365e+11,7.612443e+11,247680.0,4.810000e+05,4.878500e+05,5.036900e+05,5.149200e+05,...,5.752200e+05,5.984800e+05,6.003200e+05,5.996000e+05,5.880900e+05,6.078300e+05,6.158800e+05,6.266300e+05,6.306400e+05,6.107900e+05

In [301]:
data['reduction'] = [.49,1,.54,.45,.55,1,.45,.45,.575,1]

In [302]:
data['Target'] = data[data.columns[6]]*data['reduction']
data['Target']

0    2.819210e+06
1    5.824630e+06
2    6.549228e+05
3    3.610710e+05
4    6.250585e+05
5    5.409200e+05
6    1.712970e+05
7    2.132235e+05
8    3.156923e+05
9    4.810000e+05
Name: Target, dtype: float64

In [303]:
CHN = ((5.824630e+06)/2285965892360.5)*.35*1.773406e+13
KOR = .6*6.306400e+05
GBR = .32*561770.0

In [304]:
data.loc[data['Country Code'] == 'CHN','Target'] = CHN
data.loc[data['Country Code'] == 'KOR','Target'] = KOR
data.loc[data['Country Code'] == 'GBR','Target'] = GBR
data['Target']

0    2.819210e+06
1    1.581520e+07
2    6.549228e+05
3    3.610710e+05
4    6.250585e+05
5    1.797664e+05
6    1.712970e+05
7    2.132235e+05
8    3.156923e+05
9    3.783840e+05
Name: Target, dtype: float64

In [305]:
data.drop(columns=['reduction','1990 [YR1990]'], inplace=True)
data['Current Emissions'] = data['2019 [YR2019]']
data['Continent'] = ['North America', 'Asia', 'Asia', 'Europe', 'Asia', 'Europe', 'Europe', 'Europe', 'North America', 'Asia']
data

,Country Name,Country Code,GDP,Imports,Exports,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Target,Current Emissions,Continent
0,United States,USA,2.331508e+13,3.401361e+12,2.539648e+12,5.753490e+06,5.653080e+06,5.736320e+06,5.558380e+06,5.156430e+06,...,5.092100e+06,5.107210e+06,4.990710e+06,4.894500e+06,4.819370e+06,4.975310e+06,4.817720e+06,2.819210e+06,4.817720e+06,North America
1,China,CHN,1.773406e+13,3.091259e+12,3.553509e+12,5.824630e+06,6.437470e+06,6.993180e+06,7.199600e+06,7.719070e+06,...,9.984570e+06,1.000667e+07,9.861100e+06,9.874660e+06,1.009601e+07,1.050293e+07,1.070722e+07,1.581520e+07,1.070722e+07,Asia
2,Japan,JPN,4.940878e+12,9.364105e+11,9.104890e+11,1.212820e+06,1.189520e+06,1.225070e+06,1.158220e+06,1.100980e+06,...,1.262780e+06,1.217120e+06,1.179440e+06,1.167790e+06,1.155230e+06,1.116150e+06,1.081570e+06,6.549228e+05,1.081570e+06,Asia
3,Germany,DEU,4.259935e+12,1.776914e+12,2.003471e+12,8.023800e+05,8.144100e+05,7.838000e+05,7.896900e+05,7.348100e+05,...,7.761500e+05,7.360100e+05,7.423100e+05,7.471500e+05,7.322000e+05,7.077000e+05,6.574000e+05,3.610710e+05,6.574000e+05,Europe
4,India,IND,3.176295e+12,7.588719e+11,6.796806e+11,1.136470e+06,1.215210e+06,1.336740e+06,1.424380e+06,1.564880e+06,...,1.972430e+06,2.147110e+06,2.158020e+06,2.195250e+06,2.320410e+06,2.451930e+06,2.456300e+06,6.250585e+05,2.456300e+06,Asia
5,United Kingdom,GBR,3.131378e+12,8.993653e+11,8.751969e+11,5.409200e+05,5.420600e+05,5.305000e+05,5.153400e+05,4.664900e+05,...,4.537600e+05,4.156000e+05,4.010800e+05,3.808100e+05,3.670000e+05,3.607300e+05,3.489200e+05,1.797664e+05,3.489200e+05,Europe
6,France,FRA,2.957880e+12,9.285055e+11,8.710587e+11,3.806600e+05,3.715500e+05,3.628300e+05,3.579900e+05,3.437300e+05,...,3.385600e+05,3.061000e+05,3.113000e+05,3.139200e+05,3.178300e+05,3.070500e+05,3.005200e+05,1.712970e+05,3.005200e+05,Europe
7,Italy,ITA,2.107703e+12,6.389147e+11,6.885824e+11,4.738300e+05,4.666500e+05,4.593700e+05,4.449800e+05,3.970600e+05,...,3.464600e+05,3.275000e+05,3.378600e+05,3.333400e+05,3.291900e+05,3.248800e+05,3.172400e+05,2.132235e+05,3.172400e+05,Europe
8,Canada,CAN,1.988336e+12,6.091858e+11,6.111214e+11,5.490300e+05,5.405300e+05,5.716300e+05,5.504700e+05,5.213200e+05,...,5.556600e+05,5.616800e+05,5.587000e+05,5.568300e+05,5.680800e+05,5.800900e+05,5.802100e+05,3.156923e+05,5.802100e+05,North America
9,"Korea, Rep.",KOR,1.810956e+12,6.964365e+11,7.612443e+11,4.810000e+05,4.878500e+05,5.036900e+05,5.149200e+05,5.266400e+05,...,5.996000e+05,5.880900e+05,6.078300e+05,6.158800e+05,6.266300e+05,6.306400e+05,6.107900e+05,3.783840e+05,6.107900e+05,Asia

In [306]:
data.to_csv(f'{os.getcwd()}/data.csv', index=False)

In [307]:
pd.read_csv(f'{os.getcwd()}/data.csv')

,Country Name,Country Code,GDP,Imports,Exports,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],Target,Current Emissions,Continent
0,United States,USA,2.331508e+13,3.401361e+12,2.539648e+12,5.753490e+06,5.653080e+06,5.736320e+06,5.558380e+06,5.156430e+06,...,5.092100e+06,5.107210e+06,4.990710e+06,4.894500e+06,4.819370e+06,4.975310e+06,4.817720e+06,2.819210e+06,4.817720e+06,North America
1,China,CHN,1.773406e+13,3.091259e+12,3.553509e+12,5.824630e+06,6.437470e+06,6.993180e+06,7.199600e+06,7.719070e+06,...,9.984570e+06,1.000667e+07,9.861100e+06,9.874660e+06,1.009601e+07,1.050293e+07,1.070722e+07,1.581520e+07,1.070722e+07,Asia
2,Japan,JPN,4.940878e+12,9.364105e+11,9.104890e+11,1.212820e+06,1.189520e+06,1.225070e+06,1.158220e+06,1.100980e+06,...,1.262780e+06,1.217120e+06,1.179440e+06,1.167790e+06,1.155230e+06,1.116150e+06,1.081570e+06,6.549228e+05,1.081570e+06,Asia
3,Germany,DEU,4.259935e+12,1.776914e+12,2.003471e+12,8.023800e+05,8.144100e+05,7.838000e+05,7.896900e+05,7.348100e+05,...,7.761500e+05,7.360100e+05,7.423100e+05,7.471500e+05,7.322000e+05,7.077000e+05,6.574000e+05,3.610710e+05,6.574000e+05,Europe
4,India,IND,3.176295e+12,7.588719e+11,6.796806e+11,1.136470e+06,1.215210e+06,1.336740e+06,1.424380e+06,1.564880e+06,...,1.972430e+06,2.147110e+06,2.158020e+06,2.195250e+06,2.320410e+06,2.451930e+06,2.456300e+06,6.250585e+05,2.456300e+06,Asia
5,United Kingdom,GBR,3.131378e+12,8.993653e+11,8.751969e+11,5.409200e+05,5.420600e+05,5.305000e+05,5.153400e+05,4.664900e+05,...,4.537600e+05,4.156000e+05,4.010800e+05,3.808100e+05,3.670000e+05,3.607300e+05,3.489200e+05,1.797664e+05,3.489200e+05,Europe
6,France,FRA,2.957880e+12,9.285055e+11,8.710587e+11,3.806600e+05,3.715500e+05,3.628300e+05,3.579900e+05,3.437300e+05,...,3.385600e+05,3.061000e+05,3.113000e+05,3.139200e+05,3.178300e+05,3.070500e+05,3.005200e+05,1.712970e+05,3.005200e+05,Europe
7,Italy,ITA,2.107703e+12,6.389147e+11,6.885824e+11,4.738300e+05,4.666500e+05,4.593700e+05,4.449800e+05,3.970600e+05,...,3.464600e+05,3.275000e+05,3.378600e+05,3.333400e+05,3.291900e+05,3.248800e+05,3.172400e+05,2.132235e+05,3.172400e+05,Europe
8,Canada,CAN,1.988336e+12,6.091858e+11,6.111214e+11,5.490300e+05,5.405300e+05,5.716300e+05,5.504700e+05,5.213200e+05,...,5.556600e+05,5.616800e+05,5.587000e+05,5.568300e+05,5.680800e+05,5.800900e+05,5.802100e+05,3.156923e+05,5.802100e+05,North America
9,"Korea, Rep.",KOR,1.810956e+12,6.964365e+11,7.612443e+11,4.810000e+05,4.878500e+05,5.036900e+05,5.149200e+05,5.266400e+05,...,5.996000e+05,5.880900e+05,6.078300e+05,6.158800e+05,6.266300e+05,6.306400e+05,6.107900e+05,3.783840e+05,6.107900e+05,Asia

In [308]:
# p_table = pd.pivot_table(data, index = [data.columns[5], data.columns[6], data.columns[7], data.columns[8],
#                                         data.columns[9], data.columns[10], data.columns[11], data.columns[12],
#                                         data.columns[13], data.columns[14], data.columns[15], data.columns[16],
#                                         data.columns[17], data.columns[18], data.columns[19]])
# p_table

In [309]:
full_trade = pd.DataFrame()
countries = ['United States','China','Japan','Germany','India','United Kingdom','France','Italy','Canada', 'Korea, Rep.']
files = ['usa','china','japan','germany','india','uk','france','italy','canada','korea']
for file in files:
    trade = pd.read_excel(f'{os.getcwd()}/trade/{file}.xlsx','Partner').iloc[:,:13]
    trade = trade[trade['Partner Name'].isin(countries)]
    trade = pd.concat([trade.iloc[:,:2], trade.iloc[:,-5:]], axis=1)
    x = trade.sort_values(by=[trade.columns[3]], ascending=False).iloc[:3,:]
    x = pd.concat([x.iloc[:,:2], x.iloc[:,3]], axis=1)
    m = trade.sort_values(by=[trade.columns[4]], ascending=False).iloc[:3,:]
    m = pd.concat([m.iloc[:,:2], m.iloc[:,4]], axis=1)
    # mx = pd.concat([m,x], axis=1)
    # mx = pd.concat([mx.iloc[:,:3], mx.iloc[:,-2:]], axis=1)
    # mx.columns = ['Country','Importer','Imports','Exporter','Exports']
    #full_trade = full_trade.append([mx])
    full_trade = full_trade.append([m,x])
full_trade

/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_54130/2397599381.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full_trade = full_trade.append([m,x])

,Reporter Name,Partner Name,Import (US$ Thousand),Export (US$ Thousand)
37,United States,China,4.571642e+08,NaN
33,United States,Canada,2.761955e+08,NaN
104,United States,Japan,1.224840e+08,NaN
33,United States,Canada,NaN,2.550216e+08
37,United States,China,NaN,1.246485e+08
104,United States,Japan,NaN,6.409070e+07
96,China,Japan,1.746552e+08,NaN
103,China,"Korea, Rep.",1.731002e+08,NaN
205,China,United States,1.363395e+08,NaN
205,China,United States,NaN,4.524929e+08
96,China,Japan,NaN,1.425966e+08
103,China,"Korea, Rep.",NaN,1.124762e+08
36,Japan,China,1.638506e+08,NaN
205,Japan,United States,7.176726e+07,NaN
104,Japan,"Korea, Rep.",2.659951e+07,NaN
36,Japan,China,NaN,1.413992e+08
205,Japan,United States,NaN,1.187932e+08
104,Japan,"Korea, Rep.",NaN,4.468845e+07
40,Germany,China,1.349190e+08,NaN
220,Germany,United States,7.840282e+07,NaN
72,Germany,France,6.433879e+07,NaN
220,Germany,United States,NaN,1.191992e+08
40,Germany,China,NaN,1.103724e+08
72,Germany,France,NaN,1.037331e+08
36,India,China,5.879882e+07,NaN
204,India,United States,2.661567e+07,NaN
102,India,"Korea, Rep.",1.216887e+07,NaN
204,India,United States,NaN,4.932060e+07
36,India,China,NaN,1.900827e+07
69,India,United Kingdom,NaN,7.767620e+06
40,United Kingdom,China,7.547893e+07,NaN
55,United Kingdom,Germany,7.440316e+07,NaN
218,United Kingdom,United States,5.822170e+07,NaN
218,United Kingdom,United States,NaN,5.560822e+07
55,United Kingdom,Germany,NaN,4.163200e+07
72,United Kingdom,France,NaN,2.387169e+07
56,France,Germany,1.010237e+08,NaN
104,France,Italy,4.860133e+07,NaN
41,France,China,4.115158e+07,NaN
56,France,Germany,NaN,6.989104e+07
104,France,Italy,NaN,3.713902e+07
222,France,United States,NaN,3.708257e+07
48,Italy,Germany,7.002357e+07,NaN
35,Italy,China,3.684210e+07,NaN
65,Italy,France,3.573724e+07,NaN
48,Italy,Germany,NaN,6.406038e+07
65,Italy,France,NaN,5.161446e+07
206,Italy,United States,NaN,4.847345e+07
214,Canada,United States,1.977281e+08,NaN
41,Canada,China,5.705460e+07,NaN
56,Canada,Germany,1.288182e+07,NaN
214,Canada,United States,NaN,2.844775e+08
41,Canada,China,NaN,1.886118e+07
76,Canada,United Kingdom,NaN,1.485538e+07
42,"Korea, Rep.",China,1.088698e+08,NaN
222,"Korea, Rep.",United States,5.776511e+07,NaN
109,"Korea, Rep.",Japan,4.602462e+07,NaN
42,"Korea, Rep.",China,NaN,1.325550e+08
222,"Korea, Rep.",United States,NaN,7.439596e+07
109,"Korea, Rep.",Japan,NaN,2.509245e+07

In [310]:
full_trade.to_csv(f'{os.getcwd()}/trade.csv', index=False)

In [311]:
pd.read_csv(f'{os.getcwd()}/trade.csv')

,Reporter Name,Partner Name,Import (US$ Thousand),Export (US$ Thousand)
0,United States,China,4.571642e+08,NaN
1,United States,Canada,2.761955e+08,NaN
2,United States,Japan,1.224840e+08,NaN
3,United States,Canada,NaN,2.550216e+08
4,United States,China,NaN,1.246485e+08
5,United States,Japan,NaN,6.409070e+07
6,China,Japan,1.746552e+08,NaN
7,China,"Korea, Rep.",1.731002e+08,NaN
8,China,United States,1.363395e+08,NaN
9,China,United States,NaN,4.524929e+08
10,China,Japan,NaN,1.425966e+08
11,China,"Korea, Rep.",NaN,1.124762e+08
12,Japan,China,1.638506e+08,NaN
13,Japan,United States,7.176726e+07,NaN
14,Japan,"Korea, Rep.",2.659951e+07,NaN
15,Japan,China,NaN,1.413992e+08
16,Japan,United States,NaN,1.187932e+08
17,Japan,"Korea, Rep.",NaN,4.468845e+07
18,Germany,China,1.349190e+08,NaN
19,Germany,United States,7.840282e+07,NaN
20,Germany,France,6.433879e+07,NaN
21,Germany,United States,NaN,1.191992e+08
22,Germany,China,NaN,1.103724e+08
23,Germany,France,NaN,1.037331e+08
24,India,China,5.879882e+07,NaN
25,India,United States,2.661567e+07,NaN
26,India,"Korea, Rep.",1.216887e+07,NaN
27,India,United States,NaN,4.932060e+07
28,India,China,NaN,1.900827e+07
29,India,United Kingdom,NaN,7.767620e+06
30,United Kingdom,China,7.547893e+07,NaN
31,United Kingdom,Germany,7.440316e+07,NaN
32,United Kingdom,United States,5.822170e+07,NaN
33,United Kingdom,United States,NaN,5.560822e+07
34,United Kingdom,Germany,NaN,4.163200e+07
35,United Kingdom,France,NaN,2.387169e+07
36,France,Germany,1.010237e+08,NaN
37,France,Italy,4.860133e+07,NaN
38,France,China,4.115158e+07,NaN
39,France,Germany,NaN,6.989104e+07
40,France,Italy,NaN,3.713902e+07
41,France,United States,NaN,3.708257e+07
42,Italy,Germany,7.002357e+07,NaN
43,Italy,China,3.684210e+07,NaN
44,Italy,France,3.573724e+07,NaN
45,Italy,Germany,NaN,6.406038e+07
46,Italy,France,NaN,5.161446e+07
47,Italy,United States,NaN,4.847345e+07
48,Canada,United States,1.977281e+08,NaN
49,Canada,China,5.705460e+07,NaN
50,Canada,Germany,1.288182e+07,NaN
51,Canada,United States,NaN,2.844775e+08
52,Canada,China,NaN,1.886118e+07
53,Canada,United Kingdom,NaN,1.485538e+07
54,"Korea, Rep.",China,1.088698e+08,NaN
55,"Korea, Rep.",United States,5.776511e+07,NaN
56,"Korea, Rep.",Japan,4.602462e+07,NaN
57,"Korea, Rep.",China,NaN,1.325550e+08
58,"Korea, Rep.",United States,NaN,7.439596e+07
59,"Korea, Rep.",Japan,NaN,2.509245e+07

In [64]:
# trade matrix
trade_matrix_x = pd.DataFrame()
trade_matrix_m = pd.DataFrame()
countries = ['United States','China','Japan','Germany','India','United Kingdom','France','Italy','Canada', 'Korea, Rep.']
files = ['usa','china','japan','germany','india','uk','france','italy','canada','korea']
for i, file in enumerate(files):
    trade = pd.read_excel(f'{os.getcwd()}/trade/{file}.xlsx','Partner').iloc[:,:13]
    trade = trade[trade['Partner Name'].isin(countries)]
    trade = pd.concat([trade.iloc[:,:2], trade.iloc[:,-5:]], axis=1)
    
    x = []
    m = []
    for j, country in enumerate(countries):
        if (i == j):
            x.append(0)
            m.append(0)
        else:
            x.append(trade[trade['Partner Name'] == country]['Export (US$ Thousand)'].item())
            m.append(trade[trade['Partner Name'] == country]['Import (US$ Thousand)'].item())
    trade_matrix_x = trade_matrix_x.append([x])
    trade_matrix_m = trade_matrix_m.append([m])
            
trade_matrix_x = trade_matrix_x.to_numpy()
trade_matrix_m = trade_matrix_m.to_numpy().T
trade_matrix = pd.DataFrame((trade_matrix_x + trade_matrix_m)/2)
trade_matrix

/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_x = trade_matrix_x.append([x])
/var/folders/_5/sprlgz1x0g5gzbxy4kkfq7r40000gn/T/ipykernel_10043/3353227026.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  trade_matrix_m = trade_matrix_m.append([m])

,0,1,2,3,4,5,6,7,8,9
0,0.000000e+00,1.304940e+08,6.792898e+07,6.778302e+07,2.700497e+07,5.859858e+07,2.809258e+07,1.840179e+07,2.263748e+08,5.448865e+07
1,4.548285e+08,0.000000e+00,1.532236e+08,1.108630e+08,6.275915e+07,7.402014e+07,3.924338e+07,3.487816e+07,4.957446e+07,1.106730e+08
2,1.206386e+08,1.580272e+08,0.000000e+00,2.102578e+07,9.655001e+06,1.046753e+07,5.654889e+06,3.971464e+06,8.668836e+06,4.535654e+07
3,1.182961e+08,1.077415e+08,2.061414e+07,0.000000e+00,1.097370e+07,7.545498e+07,1.023784e+08,6.957179e+07,1.182189e+07,2.052726e+07
4,5.144395e+07,1.999278e+07,4.384980e+06,8.991609e+06,0.000000e+00,7.616073e+06,4.409128e+06,4.569143e+06,3.259212e+06,4.708037e+06
5,5.322403e+07,1.919211e+07,6.777318e+06,4.053001e+07,4.318648e+06,0.000000e+00,2.290667e+07,1.056459e+07,6.693028e+06,4.637654e+06
6,4.047718e+07,2.483615e+07,7.869221e+06,6.711492e+07,3.910796e+06,3.054525e+07,0.000000e+00,3.643813e+07,4.188332e+06,5.681373e+06
7,4.973486e+07,1.846381e+07,9.300048e+06,6.281650e+07,3.576590e+06,2.473626e+07,5.010790e+07,0.000000e+00,5.795853e+06,5.995740e+06
8,2.803365e+08,2.046225e+07,1.002300e+07,5.055112e+06,2.756423e+06,1.494989e+07,2.930704e+06,2.398241e+06,0.000000e+00,3.953777e+06
9,7.634402e+07,1.528276e+08,2.584598e+07,1.112855e+07,1.206056e+07,4.592296e+06,3.276067e+06,3.401162e+06,6.317795e+06,0.000000e+00

In [65]:
trade_matrix.to_csv(f'{os.getcwd()}/trade_matrix.csv', index=False)

In [66]:
pd.read_csv(f'{os.getcwd()}/trade_matrix.csv')

,0,1,2,3,4,5,6,7,8,9
0,0.000000e+00,1.304940e+08,6.792898e+07,6.778302e+07,2.700497e+07,5.859858e+07,2.809258e+07,1.840179e+07,2.263748e+08,5.448865e+07
1,4.548285e+08,0.000000e+00,1.532236e+08,1.108630e+08,6.275915e+07,7.402014e+07,3.924338e+07,3.487816e+07,4.957446e+07,1.106730e+08
2,1.206386e+08,1.580272e+08,0.000000e+00,2.102578e+07,9.655001e+06,1.046753e+07,5.654889e+06,3.971464e+06,8.668836e+06,4.535654e+07
3,1.182961e+08,1.077415e+08,2.061414e+07,0.000000e+00,1.097370e+07,7.545498e+07,1.023784e+08,6.957179e+07,1.182189e+07,2.052726e+07
4,5.144395e+07,1.999278e+07,4.384980e+06,8.991609e+06,0.000000e+00,7.616073e+06,4.409128e+06,4.569143e+06,3.259212e+06,4.708037e+06
5,5.322403e+07,1.919211e+07,6.777318e+06,4.053001e+07,4.318648e+06,0.000000e+00,2.290667e+07,1.056459e+07,6.693028e+06,4.637654e+06
6,4.047718e+07,2.483615e+07,7.869221e+06,6.711492e+07,3.910796e+06,3.054525e+07,0.000000e+00,3.643813e+07,4.188332e+06,5.681373e+06
7,4.973486e+07,1.846381e+07,9.300048e+06,6.281650e+07,3.576590e+06,2.473626e+07,5.010790e+07,0.000000e+00,5.795853e+06,5.995740e+06
8,2.803365e+08,2.046225e+07,1.002300e+07,5.055112e+06,2.756423e+06,1.494989e+07,2.930704e+06,2.398241e+06,0.000000e+00,3.953777e+06
9,7.634402e+07,1.528276e+08,2.584598e+07,1.112855e+07,1.206056e+07,4.592296e+06,3.276067e+06,3.401162e+06,6.317795e+06,0.000000e+00